span {
    font-family: 'Nunito', sans-serif;
}

body {
    text-align: center;
    background-image: linear-gradient(#28527A, #8ac4d0, #9fb8ad);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas {
    border:2px solid #f4d160;
}

img {
    border:2px solid #f4d160;
}

h1 {
    color: #fbeeac;
    -webkit-text-stroke: 1px #F4D160;
    font-size: 300%;
    text-shadow: 3px 3px #000000;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: -0.35vh;
}

h2 {
    color: #F4D160;
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

h3 {
    color: #fbeeac;
}

a:link, a:visited {
    color: #fbeeac;
}

a:hover {
    color: #FFCC29;
}

.links {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 125%;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.top-container {
    padding-bottom: 5px;
    position: relative;
}

.left-container {
    position: relative;
    right: 7%;
    display: inline-block;
    background-color: #ddf3f5;
    box-shadow: 5px 10px #f4d160;
    vertical-align: middle;
    height: 110px;
    width: 195px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
}

.middle-container {
    position: relative;
    display: inline-block;
    right: 2%;
    background-color: #ddf3f5;
    box-shadow: 5px 10px #f4d160;
    vertical-align: middle;
    height: 110px;
    width: 225px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
}

.right-container {
    position: relative;
    left: 3%;
    display: inline-block;
    background-color: #ddf3f5;
    box-shadow: 5px 10px #f4d160;
    vertical-align: middle;
    height: 110px;
    width: 340px;
    font-family: 'Nunito', sans-serif;
    line-height: 2.1;
}

.settings-container {
    position: relative;
    left: 7%;
    display: inline-block;
    background-color: #ddf3f5;
    box-shadow: 5px 10px #f4d160;
    vertical-align: middle;
    height: 110px;
    width: 250px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.75;
}

.bottom-container {
    padding-top: 25px;
    padding-bottom: 5px;
}

.button {
    font-family: 'Nunito', sans-serif;
}
/* Character */
.character {
    position: fixed;
    z-index: 0;
    overflow: auto;
    left: 81.5%;
    bottom: -25%;
    transition: all 0.32s ease-in-out;
    opacity: 0;
}
.character.show {
    z-index: 4;
    bottom: -2%;
    opacity: 1;
}
.character-speech-bubble {
    z-index:6;
    position: fixed;
    overflow: auto;
    width: 25%;
    background-color: #ddf3f5;
    box-shadow: 5px 10px #f4d160;
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
    margin-top:40%;
    opacity: 0;
    margin-left: 54%;
    transition: all 0.42s ease-in-out;
}
.character-speech-bubble.show {
    opacity: 1;
    margin-top: -10%;
}

/* Modal (settings selection window) */
.modal {
    position: fixed;
    z-index: 0;
    left: 12.5%;
    width: 75%;
    height: 100%;
    overflow: auto;
    top: 17.5%;
    /*top: 50%;
    left: 50%;
    position: absolute;*/
    opacity: 0;
    transform: scale(0.85);
    transition: all 0.32s ease-in-out;
    /*transition: top 0.32s, scale 0.32s, opacity 0.32s;*/
  /*  transform: translate(-50%, -50%);*/
}

.modal.show {
    z-index: 1;
	top: 25%;
    transform: scale(1);
    opacity: 1;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #ddf3f5;
    border-radius: 10px 10px 0px 0px;
    border-top-style: solid;
    border-top-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    color: black;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    color: white;
    background-color: rgba(0,0,0, 0.65); /* Black w/opacity/see-through */
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: black;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #ddf3f5;
    color: black;
    border-radius: 0px 0px 15px 15px;
    border-left-style: solid;
    border-left-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Nunito', sans-serif;
}

/* Button Style */
.button {
    display: inline-block;
    cursor: pointer;
    background-color: #ffc420;
    padding: 5px 20px;
    color: white;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    transition: box-shadow .32s;
    font-size: 15px;
    margin: 0 auto;
}

.button:hover {
    background-color: #edb612;
}

.button:active {
    box-shadow: inset 0 1px 3px #8ac4d0;
}
